@import "tailwindcss";

@theme {
  --color-primary: #8c8c8c;
  --color-secondary: #cccccc;
  --color-black: #1e1e1b;
  --color-white: #ffffff;

  --font-redHat: "Red Hat Display", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  background-color: var(--color-secondary);
  color: var(--color-black);
  outline: none;
  border: none;
}

select:hover {
  background-color: var(--color-secondary);
}
